
.header {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-grow: 
}

 li{
  display: inline-block;
}

 h1 {
  color: aqua;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-left: 50px;
}
 img {
   padding-left: 10px;
 }
